[submodule "rt-thread"]
	path = rt-thread
	url = http://192.168.23.108:8088/swos2/swos2-kernel.git
[submodule "packages/sysinfo"]
	path = packages/sysinfo
	url = http://192.168.23.108:8088/sw-software/sysinfo.git
[submodule "packages/swops"]
	path = packages/swops
	url = http://192.168.23.108:8088/sw-software/swops.git
[submodule "packages/trdp"]
	path = packages/trdp
	url = http://192.168.23.108:8088/sw-software/trdp.git
