*.pyc
*.map
*.dblite
*.elf
*.bin
*.hex
*.axf
*.pdb
*.idb
*.ilk
*.old
build
Debug
documentation/html
*~
*.o
*.obj
*.out
*.bak
*.dep
*.lib
*.i
*.d
.DS_Stor*
.config 3
.config 4
.config 5
Midea-X1
*.uimg
GPATH
GRTAGS
GTAGS
.vscode
JLinkLog.txt
JLinkSettings.ini
DebugConfig/
RTE/
settings/
*.uvguix*
cconfig.h
.settings/.rtmenus
.settings/*.rttlaunch
.settings/*.xml
.settings/*.prefs
board/linker_scripts/link.icf
board/linker_scripts/link.lds
board/linker_scripts/link.sct
.config
.cproject
rtconfig.h
rtconfig_preinc.h
project.uvoptx
project.uvprojx
template.uvoptx
template.uvprojx
!/project/*/.cproject
!/project/*/template.uvoptx
!/project/*/template.uvprojx
